@use '_buttons';

.body {
    margin: 0 0;
    padding: 0;

    &__modelContainer {
        /*  border: 2px solid red; */
         object-fit: cover;
         background-size: cover;
         width: 100%;
         height: 100%;
     
    }
    &__model {
        position: relative;
        width: 100%;
        margin: 0 0;
        padding: 0;
        /* border: 2px solid red; */

        & > img {
            width: 100%;
            height: 1200px;
            object-fit: cover;
            z-index: -10
        }
    }

    %sharedModelTraits {
        width: 20%;
        position: absolute;
        top: 0;
        /* border: 2px solid red; */
        margin: auto auto;
        transition: .5s;
        top: 20%;
        left: 40%;
        font-size: 32px;
        text-align: center;

    }

    %sharedTextTraits {
        font-size: 16px;
        text-decoration: none;
        color: black;
    }

    &__solarPanelText {
        @extend %sharedModelTraits;
        width: 90% !important;
        left: 8% !important 
    }

    &__newSolarPanelText {
        @extend %sharedModelTraits;
        width: 40% !important;
        left: 30% !important;
    }

    %sharedButtonTraits {
        padding: 10px 10px;
        text-transform: uppercase;
        background-color: #333333;
        border-radius: 30px;
        border: none;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;

    }
}